.logo {
    width: 80px; 
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    margin: 15px;
}
.logo:hover {
    cursor: pointer;
}

.container {
    flex:1;
    flex-direction: column;
}
button {
    background-color: transparent;
    font-weight: bold;
    margin: 15px;
    border: none;
}
button:hover {
    cursor: pointer;
}